    <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        version     = "3.5.0"
        versionCode = "10" >
		
	<!--<platform name="android">
              <icon src="images/icon-48px.png" density="mdpi" />
              <icon src="images/icon-72px.png" density="hdpi" />
              <icon src="images/icon-96px.png" density="xhdpi" />
              <icon src="images/icon-144px.png" density="xxhdpi" />
       </platform> -->

<icon src="images/icon-48px.png" gap:platform="android" gap:density="mdpi" />
<icon src="images/icon-72px.png" gap:platform="android" gap:density="hdpi" />
<icon src="images/icon-96px.png" gap:platform="android" gap:density="xhdpi" />
<icon src="images/icon-144px.png" gap:platform="android" gap:density="xxhdpi" />
         	<!--versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />

        <name>Pesona Nusantara</name>

        <description>å
      Cake Application
        </description>

        <author href="http://yoursite.com" email="you@youremail.com">
        Your Name
        </author>

    </widget>
